<html lang="en">
    {{ partial "head" . }}
  <body>
    {{ partial "navigation" . }}

    <div class="ds-content">
        {{ partial "mobile-search" . }}

        <div class="row no-gutters">
            <aside class="sidebar col-12 col-lg-2 d-lg-block collapse" id="ds-docs-nav">
                {{ partial "sidebar" . }}
            </aside>
            <main class="col-12 col-lg-10">
                {{ partial "pagetitle" . }}
                <div class="row no-gutters">
                    <div class="col-12 col-lg-9">
                        <div class="ds-content-wrapper">
                            {{ .Content | replaceRE "(<h[1-4] id=\"(.+)\".*>)(.*)(</h[1-6]>)" `${1}${3}<a href="#${2}" class="heading-hash">#</a>${4}` | safeHTML }}
                        </div>
                    </div>
                    <div class="col-3 d-none d-lg-block">
                        {{ if (eq .Page.Params.toc true) }}
                        <aside class="table-of-contents">
                            <h6 class="table-of-contents__title">Contents</h6>
                            {{ .TableOfContents }}
                        </aside>
                        {{ end }}
                    </div>
                </div>
            </main>
        </div>
    </div>
    {{ partial "footer" . }}

    {{ partial "footer-scripts" . }}
  </body>
</html>