<section class="section-columns">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card shadow-lg py-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-4 text-center">
                                <a href="/components/"><img src="/images/columns-components.jpg" class="img-fluid" /></a>
                            </div>
                            <div class="col-12 col-lg-8">
                                <h2 class="h3">Components</h2>
                                <p class="h5 font-weight-normal">Components are one of the key building blocks of the design system.</p>
                                <a href="/components/">Explore our components</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card shadow-lg py-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-4 text-center">
                                <a href="/patterns/"><img src="/images/columns-patterns.jpg" class="img-fluid" /></a>
                            </div>
                            <div class="col-12 col-lg-8">
                                <h2 class="h3">Patterns</h2>
                                <p class="h5 font-weight-normal">Patterns are our best practice solutions for how a user achieves a goal. </p>
                                <a href="/patterns/">Explore our patterns</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>