<section class="section-resources py-8 text-center">
    <div class="container">
        <div class="section-resources__wrapper bg-light p-6">
            <div class="section-title">
                <h3 class="h2">Resources</h3>
                <p class="lead">A collection of tools, kits, plugins and guides to help simplify the creation process for our users.</p>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-md-6 col-lg-3 position-relative" data-animate-hover="2">
                    <div class="hex-wrapper mb-3">
                        <img src="/images/resources-hex-fonts.png" width="80" height="90" class="animate-this" />
                    </div>
                    <h4>Fonts</h4>
                    <p>Our fonts have been chosen to communicate in a way that helps our users achieve their goals.</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3 position-relative" data-animate-hover="2">
                    <div class="hex-wrapper mb-3">
                        <img src="/images/resources-hex-logos.png" width="80" height="90" class="animate-this" />
                    </div>
                    <h4>Logos</h4>
                    <p>Roll20’s official logos and lockups for all products and medium.</p>
                    <a href="/resources/logo-library/" class="stretched-link"></a>
                </div>
                <div class="col-12 col-md-6 col-lg-3 position-relative" data-animate-hover="2">
                    <div class="hex-wrapper mb-3">
                        <img src="/images/resources-hex-templates.png" width="80" height="90" class="animate-this" />
                    </div>
                    <h4>Templates</h4>
                    <p>Various digital templates for the marketplace and social media.</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3 position-relative" data-animate-hover="2">
                    <div class="hex-wrapper mb-3">
                        <img src="/images/resources-hex-sketch.png" width="80" height="90" class="animate-this" />
                    </div>
                    <h4>Sketch Library</h4>
                    <p>Our Sketch library contains the latest components and patterns for designing products.</p>
                </div>
            </div>
        </div>
    </div>
</section>