<section class="section-content pt-9">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-sm-10 col-md-6 col-lg-6 col-xl-4 offset-sm-1 offset-md-0 offset-lg-0 offset-xl-1">
                <img src="/images/content-brand-guidelines.jpg" class="img-fluid mb-3 mb-lg-0" />
            </div>
            <div class="col-12 col-md-5 col-lg-6 col-xl-5 order-0 order-lg-1 offset-xl-1">
                <h3 class="h2">Branding Guidelines</h3>
                <p class="lead mb-5">Our brand reflects who we are and how we want our users to feel when they use our products.</p>
                <a href="/brand/" class="btn btn-primary btn-lg hover-translate-y-n3">Explore Our Brand</a>
            </div>
        </div>
    </div>
</section>

<section class="section-content pt-9">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6 col-xl-5 col-xxl-6 order-1 order-md-0 offset-xl-1">
                <h3 class="h2">Marketing Guidelines</h3>
                <p class="lead mb-5">Our marketing guidelines cover our voice and tone, and the mechanics of our grammar and style.</p>
                <a href="/marketing/" class="btn btn-primary btn-lg hover-translate-y-n3">Explore Guidelines</a>
            </div>
            <div class="col-12 col-sm-10 col-md-6 col-lg-6 col-xl-4 col-lg-6 offset-sm-1 offset-md-0 order-0 order-md-1">
                <img src="/images/content-marketing-guidelines.jpg" class="img-fluid mb-3 mb-lg-0" />
            </div>
        </div>
    </div>
</section>